<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>예약하기</title>
    <!-- jquery: 맨 위에 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- bootstrap과 datepicker 순서는 상관없다. -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <!-- datepicker -->
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css" />
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/booking/style.css}"/>
</head>
<body>
    <div class="wrap">
      <header class="d-flex justify-content-center align-items-center">
        <div class="display-4">통나무 펜션</div>
      </header>
      <section class="contents">
        <nav class="menu d-flex align-items-center">
          <ul class="nav nav-fill w-100 h-100 font-weight-bold">
            <li class="nav-item col-3 d-flex justify-content-center align-items-center"><a href="/booking/check-booking-view" class="nav-link text-light">펜션소개</a></li>
            <li class="nav-item col-3 d-flex justify-content-center align-items-center"><a href="#" class="nav-link text-light">객실보기</a></li>
            <li class="nav-item col-3 d-flex justify-content-center align-items-center"><a href="/booking/make-booking-view" class="nav-link text-light">예약하기</a></li>
            <li class="nav-item col-3 d-flex justify-content-center align-items-center"><a href="/booking/booking-list-view" class="nav-link text-light">예약목록</a></li>
          </ul>
        </nav>
        <div class="container bg-secondary">
	        <h3>예약하기</h3>
	       	<div>
				<label for="name">이름</label>
				<input type="text" id="name" name="name" class="form-control col-6">
	       	</div>
	       	<div>
				<label for="date">예약날짜</label>
				<input type="text" id="date" name="date" class="form-control col-6">
	       	</div>
	       	<div>
				<label for="day">숙박일수</label>
				<input type="text" id="day" name="day" class="form-control col-6">
	       	</div>
	       	<div>
				<label for="headCount">숙박인원</label>
				<input type="text" id="headCount" name="headCount" class="form-control col-6">
	       	</div>
	       	<div>
				<label for="phoneNumber">전화번호</label>
				<input type="text" id="phoneNumber" name="phoneNumber" class="form-control col-6">
	       	</div>
        </div>
       </section>
       <footer class="d-flex align-items-center pl-3">
        <div class="final text-secondary">
          <span>제주특별자치도 제주시 애월읍</span>
          <br />
          <span>사업자등록번호: 111-22-255222 / 농어촌민박사업자지정 / 대표:김통목</span>
          <br />
          <span>Copyright 2024 tongnamu. All right reserved.</span>
        </div>
      </footer>
    </div>
</body>
</html>